__pycache__/**
/data/**
/Model/**
/Sample/**
/Meshing/meshing/**
/Model/model/**
/wandb/**
/.ipynb_checkpoints/**
/train_state/**
/train_dict/**
/Graph/**
*.pyc
*.npy
*.zip
*.pth
*.msh
*.scdoc
*.npy
*.onnx
*.stl
*.txt
*.json
*.vtk
*.docx
*.xlsx
/附件3：训练数据集/**
/AI----master/**
*.md
/test/**
**.csv
!/README.md